<%= render "shared/header" %>

<div class="main">

  <%# トップページ写真帯の部分 %>
  <div class="title-contents">
    <h2 class="service-title">
      離れて過ごす家族との絆を深めよう
    </h2>
    <p class='service-explain'>
      毎日電話で連絡を取るのは大変。<br>
      そんなときは、FamilyBondを使って家族に外出または帰宅したことを知らせましょう。ストレスなく連絡できるので、お互いに安心して生活することができます。<br>
      さらに、定期的に連絡を取り合って家族の絆を深めよう。<br>
    </p>
  </div>
  <%# トップページ写真帯の部分 %>
    
  <%# アプリ機能一覧 %>  
  <div class='menu'>
    <ul class='menu-lists'>
      <li class="kaeru-wrap-b">
        <%= link_to "外出・帰宅", new_situation_path, class:"kaeru-box-b" %>
      </li>
      <li class="kaeru-wrap-b">
       <%= link_to "　　日記　　", "#", class:"kaeru-box-b" %>
      </li>
      <li class="kaeru-wrap-b">
        <%= link_to "　　メモ　　", "#", class:"kaeru-box-b" %>
      </li>
    </ul>
  </div>
  <%# アプリ機能一覧 %>

  <%# 外出・帰宅の一覧を表示 %>
  <h1>Family Members</h1>
  <ul class='situations-display'>
    <% @situations.each do |s| %>
      <li class='list'>
      <h3 class="family-name">
        <%= s.user.nickname %>
      </h3>
      <div class="home-away-purpose">
        <%= s.genre.name %><%= "(" + s.purpose + ")" %>
      </div>
      <div class="datetime">
        <% if (@now - s.created_at) <= 60 * 60 %>
          <%=((@now - s.created_at) / 60).to_i.to_s + "分前" %>
        <% elsif (@now - s.created_at) <= 60 * 60 * 24 %>
          <%=((@now - s.created_at) / 3600).to_i.to_s + "時間前" %>
        <% elsif (@today - s.created_at.to_date) <= 30 %>
          <%= (@today - s.created_at.to_date).to_i.to_s + "日前" %>
        <% else %>
          <%= s.created_at.strftime('%Y-%m-%d') %> 
        <% end %>  
     
        <%= s.created_at.strftime('　　　%m月%d日%H時%M分(%a)' ) %> </div>
      </li>
    <% end %>
  </ul>
  <%# 外出・帰宅の一覧を表示 %>
</div>
<%= render "shared/footer" %>