<%= render "shared/header" %>

<div class="main">

  
    
  <%# アプリ機能一覧 %>  
  <div class='menu'>
    <ul class='menu-lists'>
      <li class="kaeru-wrap-b">
        <%= link_to "外出　/　帰宅", new_situation_path, class:"kaeru-box-b" %>
      </li>
      <li class="kaeru-wrap-b">
       <%= link_to "　チャット　", "#", class:"kaeru-box-b" %>
      </li>
      <li class="kaeru-wrap-b">
        <%= link_to "　　メモ　　", "#", class:"kaeru-box-b" %>
      </li>
    </ul>
  </div>
  <%# アプリ機能一覧 %>
  
  <%# if user_signed_in? %>
  <%# ul class='family-account-contents'>
    <%# li><%= link_to '家族アカウント作成', new_family_account_path, class: "family-account-new" %></li>
    <%# li><%= link_to 'アカウントに入る', "#", class: "family-account-login" %></li>
  <%# /ul>
  <%# end %>

  <%# 外出・帰宅の一覧を表示 %>
  <% if user_signed_in? %>
    <h1 class="family-members">Family Members</h1>
    <ul class='family-display'>
      <% @situations.each do |s| %>
        <li class='display-list'>
          <h3 class="family-name">
            <%= s.user.nickname %>
          </h3>
          
          <div class="datetime">
            <% if (@now - s.created_at) <= 60 * 60 %>
              <div class="time-font-style"><%=((@now - s.created_at) / 60).to_i.to_s + "分前に" %><%= s.genre.name %><%= "(" + s.purpose + ")" %></div>
            <% elsif (@now - s.created_at) <= 60 * 60 * 24 %>
              <div class="time-font-style"><%=((@now - s.created_at) / 3600).to_i.to_s + "時間前に" %><%= s.genre.name %><%= "(" + s.purpose + ")" %></div>
            <% elsif (@today - s.created_at.to_date) <= 30 %>
              <div class="time-font-style"><%= (@today - s.created_at.to_date).to_i.to_s + "日前に" %><%= s.genre.name %><%= "(" + s.purpose + ")" %></div>
            <% else %>
              <div class="time-font-style"><%= s.created_at.strftime('%Y-%m-%dに') %><%= s.genre.name %><%= "(" + s.purpose + ")" %></div>
            <% end %>       
            <%= s.created_at.strftime('　　%m月%d日%H時%M分(%a)' ) %> 
          
          </div>
        </li>
      <% end %>
    </ul>
  <%# else %>
    <%#h3 class="family-accounts-need">ユーザー登録後、家族アカウントを作成して同じアカウントに入ることで外出・帰宅情報を家族と共有することができます。</h3 %>
  <% end %>
  <%# 外出・帰宅の一覧を表示 %>

</div>
<%= render "shared/footer" %>